<div id="content">
   <section class="hero">
        <h1>Wellcome to CSE Motors!</h1>
        <img src="images/vehicles/delorean.jpg" alt="image of a Delorean">
        <div id="delorean">
            <h2>DMC Delorean</h2>        
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dicel</li>
            </ul>
            <button><img src="images/site/own_today.png" alt="Own today"> </button>
        </div>
    </section>

    <section class="delorean_reviews">
        <h1>DMC Delorean reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I¡m feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section class="delorean_upgrades">
        <h1>Delorean upgrades</h1>
        <div id="upgrade1">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <p class="upgrade-info">Flux capacitor</p>
        </div>
        <div id="upgrade2">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            <p class="upgrade-info">Flame Decals</p>
        </div>
        <div id="upgrade3">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <p class="upgrade-info">Bumper Stickers</p>
        </div>
        <div id="upgrade4">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <p class="upgrade-info">Hub Caps</p>
        </div>    
    </section>
</div>
