/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

main{
  padding:10px;
}

/* Header styles */
#top-header {
  background-color: #fff; /* White background color */
  color: #222; /* Dark text color */
  padding: 10px 20px; /* Add some padding for spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a {
  color: #222; /* Dark link color */
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

.siteName a:hover {
  text-decoration: underline;
  
}

.siteName a img{
  width: 15%;
  margin: -5px;
}

#tools a {
  color: #222; /* Dark link color */
  text-decoration: none;
  font-size: 14px;
  padding-right: 20px;
}

#tools a:hover {
  text-decoration: underline;
}

/* Navigation styles */
nav ul {
  list-style: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 10px 0;
}

nav li a{
  margin-right: 20px;
  font-size: 14px;
  color:#fff;
  text-decoration: none;
}

nav a:hover {
  color:#222;
  background-color: #fff;
  padding-left:10px;
  padding-right: 10px;
}

nav li:last-child {
  margin-right: 0;
}

/* Footer styles */
footer {
  padding: 10px 20px; /* Add some padding for spacing */
}

h1{
  margin-left: 40px;
}

/* Hero section styles */
.hero {
  text-align: left;
  padding: 20px;
  padding-top: 0px;
  background-color: #fff;
  height: 35vh;
}

.hero h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero img {
  display:block;
  max-width: 100%;
  height: auto; /* Ensure image maintains aspect ratio */
  margin:auto;
  
}

#delorean {
  position: relative; /* Enable positioning */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  color: #007bff; /* Light blue text color */
  padding: 2px;
  padding-top: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width:40%;
  z-index: 1; /* Ensure it's above the image */
  top: -200px;
  
}

#delorean h2 {
  font-size: 18px;
  margin-bottom: -10px;
  font-weight: bold;
}

#delorean ul {
  list-style: none;
  text-align: start;
  padding: 0px;
  margin-left: 16px; 
}

#delorean li {
  margin-bottom: 5px;
}

#delorean button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: fit-content;
}

/* Delorean reviews section styles */
.delorean_reviews h1{
  margin-left: 20px;
}


/* Delorean upgrades section styles */
.delorean_upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto; 
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.delorean_upgrades h1{
  grid-area: 1 / 1 / 2 / 3;
}
#upgrade1{
  grid-area: 2 / 1 / 3 / 2;
  background-color: #C6EBFE;
  color:#222;
  width: 125px;
  padding: 10px;
  border-radius: 10px;
}
#upgrade2{
  grid-area: 2 / 2 / 3 / 3;
  background-color: #C6EBFE;
  color:#222;
  width: 125px;
  padding: 10px;
  border-radius: 10px;
}
#upgrade3{
  grid-area: 3 / 1 / 4 / 2; 
  background-color: #C6EBFE;
  color:#222;
  width: 125px;
  padding: 10px;
  border-radius: 10px;
}
#upgrade4{
  grid-area: 3 / 2 / 4 / 3;
  background-color: #C6EBFE;
  color:#222;
  width: 125px;
  padding: 10px;
  border-radius: 10px;
}

/* Clasification page */
#inv-display{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  list-style-type: none;
  text-align: center;
}

#inv-display li{
  display: list-item;
  text-align: center;
  padding: 0px;
  margin-bottom: 16px; 
  border: 1px solid #222;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
}


#inv-display hr{
  height: 3px;
  background-color: black;
}

#inv-display a{
  font-size: 18px;
  cursor:pointer;
}
#inv-display img{
  border-radius: 10px;
}



/*Car Detail page */
#inv-detail{
  padding: 0;
  display:block;
  justify-content:left;

}
#inv-detail img{
  width: 100%;
}
#detail-price, #detail-color{
  background-color: GhostWhite;
  padding:10px;
}
#detail-description, #detail-miles{
  padding:10px;
}
#detail-price h3, #detail-price span, #detail-description h3, #detail-color h3, #detail-miles h3{
  display: inline;
}

/* Messages style -*/
ul.notice, ul.error{
  list-style: none; 
  margin-bottom: 50px;
  margin-top: -20px;
  font-weight: bold;
}
ul.error{
  color:red;
}
ul.notice{
  color:#007bff;
}


/* General form styles */
.login-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #32475C;
  color: #fff;
  border-radius: 10px;
}

/* Styles for the input field labels */
.email-label, .password-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Styles for the input fields */
.account_email, .account_password {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Styles for the password requirements text */
.password-requirements {
  display:block;
  margin-bottom: 10px;
  font-size: 16px;
}


/* Styles for the login button */
.login-button {
  display: block;
  background-color:#fff;
  color:#222;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 4px auto;
  transition-duration: 0.4s;
  border-radius: 20px;
}

.login-button:hover {
   transform: scale(1.1);
}

/* Styles for the sign-up link */
.account-query{
  text-align: center;
}
.sign-up-link {
  color:#fff; 
  font-weight: bold;
}











/* Media query for devices with a width greater than 768px */
@media screen and (min-width: 768px) {
  /* Specific styles for large devices */
  /* For example, for desktop screens */

  .siteName a {
    font-size: 50px;
  
  }

  
  #tools a {
  font-size: 25px;
  }

  nav li a{
    font-size: 25px;
  }


  body {
    background-image: url('/images/site/small_check.jpg');
    background-size: cover; 
  }
  
  #container{
    border: 5px solid #007bff;
    background-color: #fff;
    border-radius: 10px;
    max-width: 700px;
    margin:auto;
  }

  #content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    padding: 20px;
  }

  .hero{
    grid-area: 1 / 1 / 2 / 3;
  }

  .delorean_upgrades{
    grid-area: 2 / 1 / 3 / 2;
    align-self: start;
    padding: 0px;
  }

  .delorean_reviews{
    grid-area: 2 / 2 / 3 / 3; 
    align-self: start;
  }
  .delorean_reviews ul{
    padding-top: 10px;
  }
  .delorean_reviews ul li{
    font-size: 25px;
  }

  #delorean{
    top:-250px;
    font-size: 25px;
  }

  #delorean h2{
    font-size: 25px;
  }

  footer{
    font-size: 25px;
  }

  /* Clasification page */
  #inv-display{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  }

  #inv-display img{
    height: 100%;
  }


  /* Car detail page*/
  #inv-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(2, 1fr) 2fr repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  #inv-detail h1{
    grid-area: 1 / 1 / 2 / 3;
  }
  #inv-detail img{
    grid-area: 2 / 1 / 7 / 2;
  
  }
  #inv-detail h2{
    margin-top: 0px;;
  }


  /* General form styles */
.login-form {
  width: 80%;
  font-size: 20px;
}
.password-requirements {
  font-size: 20px;
}

}


