<!--
 *  Content heading, adding the title and the h1 
 *  with the same value
-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
        <!--
  *  Message Block
  -->
  <%- messages() %>
  
  
  
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  
  
  
  <!--
  *  Login form
  -->
  <form id="addClassificationForm" class="addClassificationForm" action="/inventory/add-classification" method="post">
    <label for="classification_name" class="classification_name_label">Classification Name</label>
    <input type="text" id="classification_name" name="classification_name" class="classification_name" required pattern="[A-Za-z]+">
   
    <small class="password-requirements">The classification name must be alphabetical characters only.</small> 
    <button type="submit" id="addClassificationButton" class="addClassificationButton">Add Classification</button>
  </form>
  
