<!--
 *  Content heading, adding the title and the h1 
 *  with the same value
-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!--
*  Message Block
-->
<%# messages() %>

<!--
*  The inventory Items Display
-->
<%- grid %>