<!--
 *  Content heading, adding the title and the h1 
 *  with the same value
-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  <!--
 *  Message Block
-->
  <%- messages() %>



<!--
 *  Managenent links
-->
<ul id="management-links">
    <li><a href="/inv/add-classification">Add new classification</a></li>
    <li><a href="/inv/new-inventory">Add new inventory</a></li>
</ul>
<h2>Manage Inventory</h2>
<label for="classification_name" class="classification_name_label">Classification</label>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>




<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
